body{
    background: lightcoral;
    text-align: center;
}
#image{
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.headers{
    color: crimson;
    font-family: 'Homemade Apple', cursive;
}
#description{
    color: darkred;
    font-family: 'Major Mono Display', monospace;
}